:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #66b2ff;
    --primary-color: #001e3c;
    --secondary-color: #071a2e;
    --tertiary-color: #0072e4;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

.navbar-container{
    width: 100%;
    height: 10%;
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px #999;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5%;
    margin-left: 2%;
    margin-right: 10%;
}

.navbar-logo:hover{
    cursor: pointer;
}

.create-topic{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin-left: 5%;
    margin-right: 0;
}

.create-topic button{
    width: 100%;
    height: 100%;
    padding: 5% 2%;
    background-color: var(--primary-color);
}

.create-topic button:hover{
    cursor: pointer;
    background-color: var(--tertiary-color);
}

.create-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5%;
    margin-left: 5%;
    margin-right: 0;
}

.create-post button{
    background-color: var(--primary-color);
}

.navbar-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#ffffff;
    width: 60%;
    height: 100%;
    margin-left: 2%;
    margin-right: 5%;
}

.search-button{
    margin-left: 5%;
}

.create-button{
    margin-right:5%;
}

.navbar-search input{
    color: #ffffff;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.navbar-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5%;
    margin-left: 10%;
    margin-right: 2%;
}

.content-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    top: 10%;
    margin-top: 1%;
    position: absolute;
    z-index: 0;
}

.topic-sidebar{
    margin-left: 1%;
    width: 20%;
    height: 100%;
    background-color: var(--secondary-color);
    position: fixed;
    left: 0;
    z-index: 999;
    overflow: hidden;
    border-radius: 1%;
}

.topic-sidebar ::-webkit-scrollbar{
    width: 10px;
    background-color: var(--secondary-color);
}

.sidebar-search{
    margin-top: 10%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
    height: 2%;
    size:2%;   
}

.sidebar-search input{
    color: var(--secondary-color);
    outline: none;
    transition: all 0.3s ease-in-out;
}

.sidebar-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ffffff;
    width: 100%;
    height: 2%;
    size:2%;   
    padding-bottom: 3%;
}

.sidebar-topics{
    margin-top: 20%;
    width: 100%;
}

.sidebar-topic{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px;
}

.sidebar-avatar{
    margin-left: 10%;
    margin-right: 10%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
    margin-left: 23%;
    margin-right: 1%;
    width: 50%;
    height: 100%;
}


.posts-container{
    display: block;
    height: 99%;
    left: 0;
    z-index: 999;
    overflow: hidden;
}

.load-more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.post-title:hover{
    cursor: pointer;
}

.post-media{
    padding: 0% 1%;
}


.post-describers{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10px;
    margin: 2%;
}

.post-buttons{
    color:#ffffff;
}



.loading{
    overflow: hidden;
}

.loading-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 999;
    color: var(--primary-text-color);
    margin-left: 23%;
    margin-right: 1%;
    width: 50%;
    height: 100%;
    left: 0;
    overflow: hidden;
}

.create-post-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
    overflow: hidden;
    color: var(--primary-text-color);
}

.create-post-body input{
    color: var(--primary-text-color);
}

.create-post-body textarea{
    color: var(--primary-text-color);
}

.create-post-title{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--primary-text-color);
}

.create-post-content{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}

.create-post-topic{
    margin-bottom: 1%;
    width: 100%;
    color: var(--primary-text-color);
    
}

.create-post-topic-search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-post-buttons{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create-post-buttons button{
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    color: var(--primary-text-color);
}
.create-post-buttons:hover{
    cursor: pointer;
}

.create-topic-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
    overflow: hidden;
    color: var(--primary-text-color);
}

.create-topic-name{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--primary-text-color);
}

.create-topic-description{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--primary-text-color);
}

.create-topic-image{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

::-webkit-file-upload-button {
    display: none;
 }

 .upload-file-button{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin:2%
 }

.upload-file-button label{
    width: 100%;
    color: var(--primary-text-color);
    padding: 1%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.upload-file-button label:hover{
    cursor: pointer;
    background-color: var(--tertiary-color);
}

.upload-file-button span{
    margin-left: 2%;
    margin-right: 2%;
    color: var(--primary-text-color);
}


